#this is the first time am doing it

In [3]:
import pandas as pd

In [4]:
import csv

In [5]:
pd.read_csv("C2SectionRobotSample.csv")

     Section Name       Menu Name  Channel ID Editor (User Name)
0       Joe Smith       Joe Smith        3711             kcraig
1     Jason Jones     Jason Jones        3711             vcraig
2      Rick Jones      Rick Jones        3711             scraig
3  Jessica Rogers  Jessica Rogers        3711             vcraig
4   Zachery Smith   Zachery Smith        3711             scraig
5     Mathematics     Mathematics        3710                NaN
6  Social Studies  Social Studies        3710                NaN
7           Music           Music        3710                NaN
8     Visual Arts     Visual Arts        3710                NaN

In [6]:
dta = pd.read_csv("C2SectionRobotSample.csv")

In [9]:
dta.index
dta.head(0)
dta.info

<bound method DataFrame.info of      Section Name       Menu Name  Channel ID Editor (User Name)
0       Joe Smith       Joe Smith        3711             kcraig
1     Jason Jones     Jason Jones        3711             vcraig
2      Rick Jones      Rick Jones        3711             scraig
3  Jessica Rogers  Jessica Rogers        3711             vcraig
4   Zachery Smith   Zachery Smith        3711             scraig
5     Mathematics     Mathematics        3710                NaN
6  Social Studies  Social Studies        3710                NaN
7           Music           Music        3710                NaN
8     Visual Arts     Visual Arts        3710                NaN>

In [10]:
dta.describe()

        Channel ID
count     9.000000
mean   3710.555556
std       0.527046
min    3710.000000
25%    3710.000000
50%    3711.000000
75%    3711.000000
max    3711.000000

In [11]:
dta.columns

Index(['Section Name', 'Menu Name', 'Channel ID', 'Editor (User Name)'], dtype='object')

In [11]:
dta.set_index('Editor (User Name)')

                      Section Name       Menu Name  Channel ID
Editor (User Name)
kcraig                   Joe Smith       Joe Smith        3711
vcraig                 Jason Jones     Jason Jones        3711
scraig                  Rick Jones      Rick Jones        3711
vcraig              Jessica Rogers  Jessica Rogers        3711
scraig               Zachery Smith   Zachery Smith        3711
NaN                    Mathematics     Mathematics        3710
NaN                 Social Studies  Social Studies        3710
NaN                          Music           Music        3710
NaN                    Visual Arts     Visual Arts        3710

In [13]:
dta.index

RangeIndex(start=0, stop=9, step=1)

In [16]:
dta.info

<bound method DataFrame.info of      Section Name       Menu Name  Channel ID Editor (User Name)
0       Joe Smith       Joe Smith        3711             kcraig
1     Jason Jones     Jason Jones        3711             vcraig
2      Rick Jones      Rick Jones        3711             scraig
3  Jessica Rogers  Jessica Rogers        3711             vcraig
4   Zachery Smith   Zachery Smith        3711             scraig
5     Mathematics     Mathematics        3710                NaN
6  Social Studies  Social Studies        3710                NaN
7           Music           Music        3710                NaN
8     Visual Arts     Visual Arts        3710                NaN>

In [19]:
dta.iloc[3:2]

Empty DataFrame
Columns: [Section Name, Menu Name, Channel ID, Editor (User Name)]
Index: []